<div class="search-container">
  <input type="text" [value]="filterText()" (input)="addFilter($event.target.value)" />
  <a class="total-products" [routerLink]="['/pageCart']"><i class="fa-solid fa-cart-shopping"></i><span>{{ total()
      }}</span></a>
</div>
<div class="cart-container">
  @for(product of paginatedProducts() ; track product.id)
  {
  <app-cart-item [product]="product" (increment)="increment(product)" (decrement)="decrement(product)" />
  }
</div>


<div class="pagination">
  <button class="move-pages" [disabled]="currentPage() === 1" (click)="goToPage(currentPage()-1)">Anterior</button>
  <button class="pages" *ngFor="let page of arrayOfPages()" (click)="goToPage(page)"
    [class.active]="page === currentPage()">
    {{ page }}</button>
  <button class="move-pages" [disabled]="currentPage() === totalPages()"
    (click)="goToPage(currentPage() + 1)">Próxima</button>
</div>