<div class="search-container">
  <input type="text" [value]="filterText()" (input)="addFilter($event.target.value)" />
</div>
<div class="cart-container">
  @for(product of paginatedProducts() ; track product.id)
  {
  <div class="cart-item">
    <div class="cart-item-informations">
      <h2>{{ product.name }}</h2>
      <p class="cart-item-description">{{ product.description }}</p>
      <img [src]="product.photo" alt="foto" />
    </div>
    <div class="quantity-container">
      <button class="quantity-controls">-</button>
      <span>0</span>
      <button class="quantity-controls">+</button>
    </div>
  </div>
  }
</div>


<div class="pagination">
  <button class="move-pages" [disabled]="currentPage() === 1" (click)="goToPage(currentPage()-1)">Anterior</button>
  <button class="pages" *ngFor="let page of arrayOfPages()" (click)="goToPage(page)"
    [class.active]="page === currentPage()">
    {{ page }}</button>
  <button class="move-pages" [disabled]="currentPage() === totalPages()"
    (click)="goToPage(currentPage() + 1)">Próxima</button>
</div>