<h3>Produtos no Carrinho</h3>
<ul class="products-list">
  <li *ngFor="let item of cartProducts">
    <div class="product-card">
      <div class="product-header">
        <span class="product-name">{{ item.product.name }}</span>
      </div>
      <div class="product-description">
        {{ item.product.description }}
      </div>
      <span class="description-tooltiptext">{{ item.product.description }}</span>
      <div class="product-photo">
        <img [src]="item.product.photo" alt="{{ item.product.name }}" />
      </div>
      <div class="product-controls">
        <button class="circle" (click)="decrement(item.product.id)">-</button>
        <span class="quantity">{{ item.quantity }}</span>
        <button class="circle" (click)="increment(item.product.id)">+</button>
      </div>
    </div>
  </li>
</ul>
<button (click)="goBack()">Fechar</button>