<div class="cart-container">
    @for(product of products(); track product.id)
    {
    <div class="cart-item">
        <div class="cart-item-informations">
            <h2>{{ product.name }}</h2>
            <p class="cart-item-description">{{ product.description }}</p>
            <img [src]="product.photo" alt="foto" />
        </div>
        <div class="quantity-container">
            <button class="quantity-controls" (click)="decrement.emit(product)">-</button>
            <span>{{product.quantity}}</span>
            <button class="quantity-controls" (click)="increment.emit(product)">+</button>
        </div>
    </div>
    }
</div>