<ul class="products-list">
  @for(item of products(); track item.product.id) {
  <li>
    <div class="product-card">
      <div class="product-header">
        <span class="product-name">{{ item.product.name }}</span>
      </div>
      <div class="product-description">
        {{ item.product.description }}
      </div>
      <span class="description-tooltiptext">{{ item.product.description }}</span>
      <div class="product-photo">
        <img [src]="item.product.photo" alt="{{ item.product.name }}" />
      </div>
      <div class="product-controls">
        <button class="circle" (click)="decrement.emit(item.product.id)">-</button>
        <span class="quantity">{{ item.quantity }}</span>
        <button class="circle" (click)="increment.emit(item.product.id)">+</button>
      </div>
    </div>
  </li>
  }
</ul>
