.cardProduct {
    
}

.cardButton {
    align-self: center;
    background-color: #555555;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
}

.cardImage {
    clip-path: ellipse(50% 35%);
    object-fit: scale-down;
}