<div class="total-quantity-counter" (click)="toggleCartDropdown()">
  <span> Quantity = {{ totalquantity }}</span>
  <div 
    #cartDropdown
    class="cart-dropdown" 
    *ngIf="showcart" 
    (click)="$event.stopPropagation()">
    <div *ngIf="cartProducts.length === 0" class="cart-empty">Cart is empty</div>
      <ul *ngIf="cartProducts.length > 0">
        <li *ngFor="let product of cartProducts" class="cart-item">
          <span>{{ product.name }}</span>
          <div class="cart-controls">
            <button (click)="removeQuantity(product)">-</button>
            <span>{{ product.quantity }}</span>
            <button (click)="addQuantity(product)">+</button>
          </div>
        </li>

      </ul>

  </div>
</div>


<input
  type="text"
  placeholder="Filtrar por nome ou categoria"
  [(ngModel)]="filterText"
  (ngModelChange)="page = 1"
/>


<ul class="products-list">
  <li *ngFor="let product of paginatedProducts">
    <div class="product-card">
      <div class="product-header">
        <span class="product-name">{{ product.name }}</span>
      </div>
      <div class="product-description" >
        {{ product.description }}
      </div>
       <span class="description-tooltiptext">{{ product.description }}</span>
      <div class="product-photo">
        <img [src]="product.photo" alt="{{ product.name }}" />
      </div>
      <div class="product-controls">
        <button class="circle" (click)="removeQuantity(product)">-</button>
        <span class="quantity">{{ product.quantity}}</span>
        <button class="circle"(click)="addQuantity(product)">+</button>
      </div>
    </div>
  </li>
</ul>


<button (click)="prevPage()" [disabled]="page === 1">Anterior</button>
<button (click)="nextPage()" [disabled]="page * pageSize >= filteredProducts.length">Próxima</button>
<p>Página: {{ page }}</p>
<router-outlet />
