<div class="top-bar">
  <div class="cart-icon-container">
    <span class="cart-label">{{ totalQuantity }}</span>
    <span class="cart-icon" (click)="goToCart()">🛒</span>
  </div>
  <input type="text" class="filter-input" placeholder="Filtrar por nome ou categoria" [(ngModel)]="filterText"
    (ngModelChange)="page = 1" />
</div>

<card-item [products]="paginatedProducts" (decrement)="decrement($event)" (increment)="increment($event)" />

<button (click)="prevPage()" [disabled]="page === 1">Anterior</button>
<button (click)="nextPage()" [disabled]="page * pageSize >= filteredProducts.length">Próxima</button>
<p>Página: {{ page }}</p>
